@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Code+Pro:wght@400;600&display=swap');

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

.header__links {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: auto 0;
}

.header__text {
    padding-left: 3rem;
}

.header__text a {
    text-decoration: none;
    color: #0FA3B1;
    font-size: 20px;
}

.header__buttons {
    margin: auto 0rem;
}

.login, .signup {
    height: 1.5rem;
    font-size: 16px;
    margin: 0 10px;
    padding: 0 10px;
    background-color: #0FA3B1;
    color: #FFFFFF;
    border: 1px solid #0FA3B1;
    border-radius: 2px;
}



