body{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

/* Header Style Start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ed017f;
    height: 50px;
    padding: 5px 15px;
    top: 0;
    left: 0;
    z-index: 101;
}

.logo{
    min-width: 40px;
    width: 80px;
}

.inputBox{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 4px 8px;
}

.inputBox .searchIcon {
    color: #fba100;
}

.inputBox input{
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    color: red;
}

.shoppingCart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:20px;
}

.shoppingCart .cart{
    font-size: 30px;
}

.shoppingCart .cartContent{
    background-color: orange;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: 0px;

}

.shoppingCart .cartContent p{
    color: #fff;
}


.profileContainer{
    display: flex;
    align-items: center;
}

.profileContainer .profileUsername{
    display: none;
}

.profileContainer .imgBox{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profileContainer .imgBox .profilePic{
    min-width: 40px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.toggleMenu{
    color:#fff;
    padding-left: 5px;
}
/* Header Style End */

/* Main Container Start */
main{
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}
/* Main Container End */