.App{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

/* Header Style Start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ed017f;
    height: 50px;
    padding: 0px 15px;
    top: 0;
    left: 0;
    z-index: 101;
}

.logo{
    min-width: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.inputBox{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 4px 8px;
    margin-left: 10px;
}

.inputBox .searchIcon {
    color: #fba100;
}

.inputBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.shoppingCart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:20px;
}

.shoppingCart .cart{
    font-size: 30px;
}

.shoppingCart .cartContent{
    background-color: #fba100;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: 0px;

}

.shoppingCart .cartContent p{
    color: #fff;
}


.profileContainer{
    display: flex;
    align-items: center;
}

.profileContainer .profileUsername{
    display: none;
}

.profileContainer .imgBox{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profileContainer .imgBox .profilePic{
    min-width: 40px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.toggleMenu{
    color:#fff;
    padding-left: 5px;
}
/* Header Style End */

/* Main Container Start */
main{
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

main .mainContainer .banner{
    width: 100%;
    background-color:#e70680;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .mainContainer .banner img{
    width: 20%;
}

main .mainContainer .banner p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

main .mainContainer .banner p span{
    font-size: 0.8rem;
    font-weight: 200;
}

main .mainContainer .banner a{
    background-color: #fba100;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
    color: #000;
}

main .mainContainer .bookContainer .bookSort{
    width: 100%;
    padding: 10px 5px;
}

main .mainContainer .bookContainer .bookSort .sortByPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .mainContainer .bookContainer .bookSort .sortByPrice .price{
    display: flex;
    align-items: center;
}

main .mainContainer .bookContainer .bookSort .sortByPrice .price .sortTab{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

main .mainContainer .bookContainer .bookSort .sortByPrice h3{
    font-size: 16px;
    font-weight: 600;
    color:#1c1d1f;
}

main .mainContainer .bookContainer .bookSort .sortByPrice .price > p{
    font-size: 0.7rem;
    font-weight: 600;
    color: #767a81;
}

main .mainContainer .bookContainer .bookSort .sortByPrice .price .sortTab p:first-child.tab{
    border-left: 0.03rem solid #ccc;
}

main .mainContainer .bookContainer .bookSort .sortByPrice .price .sortTab p.tab.active:first-child{
    border-left: 0.03rem solid #e70680;
    margin-left: 0;
}

main .mainContainer .bookContainer .bookSort .sortByPrice .price .sortTab p.tab.active{
    border-color: #e70680;
    border-left: 0.03rem solid #e70680;
    margin-left:-0.03rem;
}
main .mainContainer .bookContainer .bookSort .sortByPrice .price .sortTab p.tab{
    font-size: 0.5rem;
    font-weight: 200;
    border: 0.03rem solid #ccc;
    padding: 4px 8px;
}


/* Main Container End */

/* Footer Container Start */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: #d5d5d5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 25px 25px 0px 0px;
}

footer ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

footer ul li {
    width: 60px;
    height: 70px;
    display: flex;
    align-items: center;
}

footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}

footer ul li a .icon{
    display: block;
    line-height: 0px;
    text-align: center;
    transition: 0.5s;
}

footer ul li a p{
    color: rgb(53, 53, 53);
    font-weight: 600;
}

footer ul li a .icon svg{
    font-size: 25px;
    color: rgb(53, 53, 53);
}

footer ul li.active a .icon {
    transform: translateY(-25px)
}

footer ul li.active a .icon svg{
    color: #fff;
    transition:0.5s;
}

.indicator{
    position: absolute;
    background-color: #fba100;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: -50%;
    border: 6px solid #faf9fb;
    transition: 0.5s;
    z-index: -101;
}

footer ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(92.5px * 0))
}
footer ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(92.5px * 1))
}

footer ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(92.5px * 2))
}

footer ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(92.5px * 3))
}
/* Footer Container End */